[Desktop Entry]
Name=KMilion
Name[ca]=KMilion
Name[ca@valencia]=KMilion
Name[cs]=KMilion
Name[da]=KMilion
Name[de]=KMilion
Name[el]=KMilion
Name[en_GB]=KMilion
Name[eo]=KMilion
Name[es]=KMilion
Name[et]=KMilion
Name[fi]=KMilion
Name[fr]=KMilion
Name[ga]=KMilion
Name[gl]=KMilion
Name[hu]=KMilion
Name[it]=KMilion
Name[ja]=KMilion
Name[km]=KMilion
Name[ko]=KMilion
Name[lv]=KMilion
Name[nb]=KMilion
Name[nds]=KMilion
Name[nl]=KMilion
Name[nn]=KMilion
Name[pa]=KMilion
Name[pl]=KMilion
Name[pt]=KMilion
Name[pt_BR]=KMilion
Name[ro]=KMilion
Name[ru]=KMilion
Name[sr]=KMilion
Name[sr@ijekavian]=KMilion
Name[sr@ijekavianlatin]=KMilion
Name[sr@latin]=KMilion
Name[sv]=KMilion
Name[tr]=KMilion
Name[uk]=KMilion
Name[x-test]=xxKMilionxx
Name[zh_CN]=KMilion
Name[zh_TW]=KMilion
Exec=kmilion %i -caption "%c"
Icon=kmilion
Type=Application
X-DocPath=kmilion/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
X-Ubuntu-Gettext-Domain=desktop_kdesdk
