<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kmilion" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="New" />
    <Action name="Open" />
    <Action name="Save" />
    <Action name="Save As..." />
    <Action name="Quit" />
   </Menu>
   <Menu name="game"><text>&amp;Game</text>
    <Action name="run" />
   </Menu>
</MenuBar>
<ToolBar name="mainToolBar" >
    <Action name="New" />
    <Action name="Open" />
    <Action name="Save" />
    <Action name="Save As..." />
    <Action name="run" />
</ToolBar>
</kpartgui>
